﻿@model List<Taipei101EvaluationSystemDAL.ViewModels.QuestionViewModel>
@{
    if (Model != null)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            string itemClass = "";
            if (i > 0)
            {
                itemClass = "mt-3";
            }
            <div id="question-@Model[i].Id" class="@itemClass">
                <div class="d-flex justify-content-between">
                    <div class="fw-bold">Câu hỏi @Model[i].Order:</div>
                    @{
                        if (Model.Count > 1)
                        {
                            <div class="text-danger cursor-pointer" onclick="deleteQuestion('@Model[i].Id')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                </svg>
                            </div>
                        }
                    }
                </div>
                <input class="form-control" placeholder="Nhập nội dung câu hỏi @Model[i].Order" onchange="updateQuestionContent('@Model[i].Id', this)" value="@Model[i].Content">
                <div class="d-flex align-items-start mt-1">
                    @{
                        if (Model[i].Answers?.Count > 0)
                        {
                            for (int a = 0; a < Model[i].Answers?.Count; a++)
                            {
                                var answerNum = a + 1;
                                var answerClass = "";
                                if (a > 0)
                                {
                                    answerClass = "ms-2";
                                }
                                <div class="@answerClass">
                                    <input onchange="updateAnswerContent('@Model[i].Id', '@Model[i].Answers[a].Id', this)" class="form-control form-control-sm" type="text" placeholder="Câu trả lời @answerNum" value="@Model[i].Answers[a].Content" />
                                    <div class="d-flex justify-content-around align-items-center">
                                        <div>
                                            <span>Đáp án</span>
                                            @{
                                                if (Model[i].Answers[a].IsCorrect == true)
                                                {
                                                    <input type="checkbox" class="form-check-input" checked onclick="updateAnswerIsCorrect('@Model[i].Id', '@Model[i].Answers[a].Id', this)" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="form-check-input" onclick="updateAnswerIsCorrect('@Model[i].Id', '@Model[i].Answers[a].Id', this)" />
                                                }
                                            }
                                        </div>
                                        <div class="cursor-pointer text-danger" onclick="deleteAnswer('@Model[i].Id', '@Model[i].Answers[a].Id')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    }
                    <div class="ms-2 cursor-pointer" onclick="createAnswer('@Model[i].ContestId', '@Model[i].Id')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </div>
                </div>
            </div>
        }
    }
}