﻿@model Taipei101EvaluationSystemDAL.ViewModels.ContestDetailModel
@{
    ViewData["Title"] = Model.Contest?.Name;
}
@section css{
    <link href="/css/question.css" rel="stylesheet" />
}
<div class="mt-3 clearfix">
    <div class="fw-bold">Tìm kiếm câu hỏi</div>
    <form class="float-start d-flex" action="/Question/Index" method="GET">
        <div>
            <input type="hidden" name="contestId" value="@ViewBag.ContestId" />
            <input type="search" class="form-control" name="questionContent" value="@ViewBag.QuestionContent" placeholder="Nhập nội dung câu hỏi" />
        </div>
        <div>
            <button class="btn btn-warning fw-bold ms-2">Tìm kiếm</button>
        </div>
    </form>
    <div class="float-end">
        <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-question-modal">Thêm câu hỏi mới</button>
    </div>
</div>

<div>
    @{
        if (Model != null)
        {
            if (Model.Contest != null)
            {
                <div class="text-center">
                    <h1>@Model.Contest.Name</h1>
                    <div>
                        (<span>Thời gian thi: @Model.Contest.Time phút,</span>
                        <span>Cấp độ: @Model.Contest.Level</span>
                        <span>, Người tạo: @Model.Contest.CreatedByName</span>)
                    </div>
                </div>

                <div id="questions-container" class="ps-3">
                    @{
                        if (Model.Questions?.Count > 0)
                        {
                            var questions = Model.Questions;
                            foreach (var question in questions)
                            {
                                <div class="d-flex mt-3 mb-3 bg-light p-2 justify-content-between align-items-center" id="remove-@question.Id">
                                    <div class="col-10">
                                        <div class="d-flex w-100 justify-content-between align-items-center fw-bold">
                                            <div class="d-flex w-100">
                                                <h5 class="col-1 mb-0 p-0 fw-bold text-warning">Câu hỏi @question.Order:</h5>
                                                <div>
                                                    @Html.Raw(question.Content)
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            if (question.Answers?.Count > 0)
                                            {
                                                <div class="text-center">
                                                    @{
                                                        foreach (var answer in question.Answers)
                                                        {
                                                            <div class="d-inline-block ms-4">
                                                                <div class="d-flex">
                                                                    @{
                                                                        if (answer.IsCorrect == true)
                                                                        {
                                                                            <div class="text-success fw-bold">
                                                                                @answer.Content
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div>
                                                                                @answer.Content
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="d-flex">
                                        <div class="cursor-pointer text-primary" onclick="updateQuestion('@question.Id')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                        </div>
                                        <div class="ms-1 cursor-pointer text-danger" onclick="removeQuestion('@question.Id')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    }
</div>

<div class="modal fade" id="insert-question-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertQuestionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="d-flex align-items-center">
                    <div class="fw-bold">Số lượng câu hỏi:</div>
                    <div class="ms-2">
                        <input id="question-number" class="form-control" type="number" placeholder="Nhập số câu hỏi" />
                    </div>
                    <button class="btn btn-success ms-2" onclick="generateQuestions('@ViewBag.ContestId')">Tạo</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="new-questions-container">

                </div>
            </div>
            <div class="modal-footer justify-content-center border-0">
                <button class="btn btn-primary" onclick="insertQuestions()">Thêm câu hỏi mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-question-modal" data-bs-focus="false" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false" aria-labelledby="updateQuestionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateQuestionLabel">Cập nhật câu hỏi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-question-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-answer-modal" data-bs-focus="false" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false" aria-labelledby="updateAnswerLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAnswerLabel">Cập nhật câu trả lời</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-answer-modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdn.ckeditor.com/4.21.0/full/ckeditor.js"></script>
    <script>
        function generateHtml(questions) {
            const questionsList = {
                QuestionViewModels: questions
            };

            $.ajax({
                method: 'POST',
                url: '/Question/Generate',
                data: questionsList,
                success: function (response) {
                    $('#new-questions-container').html(response)
                }
            });
        }

        //Global variables

        //Insert
        var maxOrder = @Model.MaxQuestionOrder;
        var questionNumber = 0;
        var questionId = newGuid();
        var questions = [
            {
                Id: questionId,
                ContestId: '@ViewBag.ContestId',
                Order: maxOrder + 1,
                Content: '',
                Answers: [
                    {
                        Id: newGuid(),
                        ContestId: '@ViewBag.ContestId',
                        QuestionId: questionId,
                        Content: '',
                        IsCorrect: false
                    },
                    {
                        Id: newGuid(),
                        ContestId: '@ViewBag.ContestId',
                        QuestionId: questionId,
                        Content: '',
                        IsCorrect: false
                    },
                ]
            }
        ];
        generateHtml(questions);

        //Update
        var updateQuestionModel = {}
    </script>
    <script src="~/js/question.js"></script>
}