﻿@model List<Taipei101EvaluationSystemDAL.Entities.Question>

@{
    if (Model.Count > 0)
    {
        foreach (var question in Model)
        {
            <div class="bg-light mt-3 p-2 cursor-pointer new-question" onclick="selectQuestion('@question.Id', this)">
                @Html.Raw(question.Content)
            </div>            
        }
    }
}

