﻿@model Taipei101EvaluationSystemDAL.ViewModels.QuestionViewModel

<div id="question-image-container" class="w-50 m-auto">
    <label>Upload ảnh:</label>
    <input class="form-control form-control-sm" type="file" accept="image/*" id="question-image-file">
</div>
<div class="mt-4">
    <textarea id="question-content">@Model.Content</textarea>
</div>

<div class="mt-3 d-flex align-items-start">
    @{
        if (Model.Answers?.Count > 0)
        {
            <div id="update-question-answers-container" class="d-flex">
                @{
                    foreach (var answer in Model.Answers)
                    {
                        <div class="ms-2" id="update-question-answer-@answer.Id">
                            <input type="text" class="form-control" value="@answer.Content" onchange="changeUpdateQuestionAnswer('@answer.Id', this)" />
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <span>Đáp án</span>
                                    @{
                                        if (answer.IsCorrect == true)
                                        {
                                            <input type="checkbox" class="form-check-input" checked onclick="" onchange="changeIsCorrectUpdateQuestionAnswer('@answer.Id', this)" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-check-input" onclick="" onchange="changeIsCorrectUpdateQuestionAnswer('@answer.Id', this)" />
                                        }
                                    }
                                </div>
                                <div class="cursor-pointer text-danger" onclick="deleteUpdateQuestionAnswer('@answer.Id')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="ms-2 mt-1 cursor-pointer" onclick="createAnswerUpdateQuestionModel('@Model.ContestId', '@Model.Id')">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </div>
        }
    }
</div>

<div class="mt-4 text-center">
    <button class="btn btn-primary" id="update-question-btn">Cập nhật câu hỏi</button>
</div>

<script>
    //Set global variable
    updateQuestionModel = JSON.parse(JSON.stringify(@Json.Serialize(Model)));

    CKEDITOR.replace("question-content");

    $('#question-image-file').change(function () {
        const file = $(this)[0].files[0];
        if (file) {
            let formData = new FormData();
            formData.append("file", file);
            $.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    let div = `<div id="progress-bar-container" class="progress w-100">
                                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                                </div>`
                    $("#question-image-container").append(div);
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $("#progress-bar").css('width', percentComplete + '%');
                            $("#progress-bar").text(percentComplete + '%');
                            if (percentComplete === 100) {
                                $("#progress-bar-container").remove();
                            }
                        }
                    }, false);

                    return xhr;
                },
                method: 'POST',
                url: '/File/Upload?folder=questions',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function (response) {
                    if (response.status == 1) {
                        toastr.success('Avatar uploaded!');
                        const uploadsFolder = '@ViewBag.UploadsFolder';
                        const img = '<img src="' + uploadsFolder + response.data + '" />';
                        const oldContent = CKEDITOR.instances['question-content'].getData();
                        CKEDITOR.instances['question-content'].setData(oldContent + img)
                    }
                    else {
                        console.log(response);
                    }
                }
            })
        }
    });

    CKEDITOR.instances['question-content'].on('change', function () {
        const content = CKEDITOR.instances['question-content'].getData();
        updateQuestionModel.content = content;
    });

    function changeUpdateQuestionAnswer(answerId, element) {
        const content = $(element).val();
        if (updateQuestionModel.answers) {
            updateQuestionModel.answers = updateQuestionModel.answers.map(function (answer, index) {
                if (answer.id == answerId) {
                    answer.content = content;
                }
                return answer;
            })
        }
    }

    function deleteUpdateQuestionAnswer(answerId) {
        if (answerId) {
            const oke = confirm('Bạn có chắc chắn muốn xóa?');
            if (oke) {
                updateQuestionModel.answers = updateQuestionModel.answers.filter(x => x.id != answerId);
            }
            $(`#update-question-answer-${answerId}`).remove();
            console.log(updateQuestionModel)
        }
    }

    function changeIsCorrectUpdateQuestionAnswer(answerId, element) {
        updateQuestionModel.answers = updateQuestionModel.answers.map(function (answer, index) {
            if (answer.id == answerId) {
                const checked = $(element).is(':checked');
                if (checked) {
                    answer.isCorrect = true;
                }
                else {
                    answer.isCorrect = false;
                }
            }
            return answer;
        });
    }

    function createAnswerUpdateQuestionModel(contestId, questionId) {
        const newId = newGuid();
        const answer = {
            id: newId,
            contestId: contestId,
            questionId: questionId,
            content: '',
            isCorrect: false
        };
        updateQuestionModel.answers.push(answer);

        $.ajax({
            method: 'POST',
            url: '/Question/GenerateAnswer',
            data: answer,
            success: function (response) {
                $('#update-question-answers-container').append(response);
            }
        });
    }

    $('#update-question-btn').click(function () {
        console.log(updateQuestionModel.content.trim());
        if (updateQuestionModel.content.trim() === ''){
            toastr.error('Vui lòng nhập nội dung câu hỏi!');
            return;
        };
        if (updateQuestionModel.answers.length === 0) {
            toastr.error('Vui lòng thêm vào ít nhất 1 câu trả lời!');
            return;
        }
        for (var j = 0; j < updateQuestionModel.answers.length; j++) {
            if (updateQuestionModel.answers[j].content.trim() === '') {
                toastr.error('Vui lòng nhập đủ nội dung cho toàn bộ câu trả lời!');
                return;
            }
        };
        var hasCorrectAnswers = updateQuestionModel.answers.some(x => x.isCorrect == true);
        if (typeof hasCorrectAnswers === 'undefined' || !hasCorrectAnswers) {
            toastr.error('Vui lòng nhập chọn ít nhất 1 câu trả lời đúng!');
            return;
        };

        const questionViewModel = {
            Id: updateQuestionModel.id,
            ContestId: updateQuestionModel.contestId,
            Content: updateQuestionModel.content,
            Order: updateQuestionModel.order,
            CreatedBy: updateQuestionModel.createdBy,
            CreatedTime: updateQuestionModel.createdTime,
            UpdatedBy: updateQuestionModel.updatedBy,
            UpdatedTime: updateQuestionModel.updatedTime,
            Answers: updateQuestionModel.answers
        };
        $.ajax({
            method: 'PUT',
            url: '/Question/Update',
            data: questionViewModel,
            success: function (response) {
                if (response.status == 1) {
                    toastr.success('Cập nhật câu hỏi thành công!');
                    setTimeout(() => {
                        location.reload();
                    }, 1500)
                }
                else {
                    console.log(response)
                }
            }
        });
    })
</script>