﻿@model List<Taipei101EvaluationSystemDAL.Entities.Action>;

<input id="selected-role" value="@ViewBag.RoleId" hidden />

@if (ViewBag.ListActionByRole is not null)
{
    var listActionByRole = ViewBag.ListActionByRole as List<Taipei101EvaluationSystemDAL.Entities.Action>;

    @foreach (var action in Model)
    {
        var checkAction = listActionByRole.Where(x => x.Id == action.Id).FirstOrDefault();
        if (checkAction is not null)
        {
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="actions" id="@action.ActionName" value="@action.Id" checked>
                <label class="form-check-label" for="@action.ActionName" title="@action.ActionName">@action.ViName</label>
            </div>
            <br />
        }
        else
        {
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="actions" id="@action.ActionName" value="@action.Id">
                <label class="form-check-label" for="@action.ActionName" title="@action.ActionName">@action.ViName</label>
            </div>
            <br />
        }
    }
}
else
{
    @foreach (var action in Model)
    {
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="actions" id="@action.ActionName" value="@action.Id">
            <label class="form-check-label" for="@action.ActionName" title="@action.ActionName">@action.ViName</label>
        </div>
        <br />
    }
}