﻿@model Taipei101EvaluationSystemWebApp.Models.ResponseModel<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>

@{
    if (Model is null)
    {
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center mt-4">
            <h5 class="text-danger">Bạn không có quyền kết thúc bài thi</h5>
        </div>
    }
    else
    {
        if (Model.Status == -99)
        {
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="text-center mt-4">
                <h5 class="text-danger">@Model.Message</h5>
            </div>
        }
        if (Model.Status == 1)
        {
            <h1 class="text-center">Kết quả bài thi</h1>
            <div><span class="fw-bold">Bài thi: </span><span>@Model.Data?.ContestName</span><span class="fw-bold"> Level: </span><span>@Model.Data.ContestLevel</span></div>
            <div><span class="fw-bold">Người thi: </span><span>@Model.Data?.UserContestName</span></div>

            var diff = Model.Data?.EndedTime?.Subtract((DateTime)Model.Data.StartedTime);
            var passedMinutes = diff?.Minutes;
            if (diff?.Hours > 0)
            {
                passedMinutes = passedMinutes + diff?.Hours * 60;
            }
            <div><span class="fw-bold">Thời gian làm bài: </span><span>@passedMinutes phút</span></div>
            <div><span class="fw-bold">Số câu chính xác: </span><span>@Model.Data.CorrectAnswer câu</span></div>
            <div class="text-center">
                <a class="btn btn-warning fw-bold" href="/Contest">Trở về</a>
            </div>
        }
    }
}
