﻿@model Taipei101EvaluationSystemWebApp.Models.PagedViewModel<List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>>
@{
    ViewData["Title"] = "Danh sách bài thi";
}

<div class="mt-3">
    <div class="fw-bold">Tìm kiếm bài thi</div>
    <form class="d-flex" action="/Contest/Index" method="GET">
        <div>
            <input type="search" class="form-control" name="contestName" value="@ViewBag.ContestName" placeholder="Nhập tên bài thi" />
        </div>
        <div class="ms-2">
            <button class="btn btn-warning fw-bold">Tìm kiếm</button>
        </div>
    </form>
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var userContests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>;
            var noneUserContests = userContests?.Where(x => x.StartedTime == null).ToList();
            if (noneUserContests?.Count > 0)
            {
                <h4 class="p-2 text-secondary bg-light">Các bài chưa thi</h4>
                foreach (var noneUserContest in noneUserContests)
                {
                    <div id="@noneUserContest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3 text-center">
                                    <a href="/UserContestQuestion?userContestId=@noneUserContest.Id">
                                        <img class="w-100" src="~/images/icons/contest-item-none.png" alt="Alternate Text" />
                                    </a>
                                    <div class="text-secondary pe-2 me-1">(Chưa thi)</div>
                                </div>
                                <div class="p-2">
                                    <div>
                                        <span>Tên bài thi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian thi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestTime (phút)</span>
                                    </div>
                                    <div>
                                        <span>Cấp độ bài thi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestLevel</span>
                                    </div>
                                    <div>
                                        <span>Số lượng câu hỏi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestQuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Thành viên thi: </span>
                                        <span class="fw-bold">@noneUserContest.UserContestName</span>
                                    </div>
                                    <div>
                                        <span>Người tạo: </span>
                                        <span>@noneUserContest.CreatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian tạo: </span>
                                        <span>@noneUserContest.CreatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group-sm text-center bg-light pt-2 pb-3">
                                <a class="btn btn-secondary" href="/Question?constestId=@noneUserContest.ContestId&userContestId=@noneUserContest.Id">Làm bài thi</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var userContests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>;
            var waitingUserContests = userContests?.Where(x => x.StartedTime != null && x.EndedTime == null).ToList();
            if (waitingUserContests?.Count > 0)
            {
                <h4 class="p-2 text-warning bg-light">Các bài đang thi</h4>
                foreach (var waitingUserContest in waitingUserContests)
                {
                    <div id="@waitingUserContest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3 text-center">
                                    <a href="/UserContestQuestion?userContestId=@waitingUserContest.Id">
                                        <img class="w-100" src="~/images/icons/contest-item-waiting.png" alt="Alternate Text" />
                                    </a>
                                    <div class="text-warning pe-2 me-1">(Đang thi)</div>
                                </div>
                                <div class="p-2">
                                    <div>
                                        <span>Tên bài thi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian thi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestTime (phút)</span>
                                    </div>
                                    <div>
                                        <span>Cấp độ bài thi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestLevel</span>
                                    </div>
                                    <div>
                                        <span>Số lượng câu hỏi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestQuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Thành viên thi: </span>
                                        <span class="fw-bold">@waitingUserContest.UserContestName</span>
                                    </div>
                                    <div>
                                        <span>Người tạo: </span>
                                        <span>@waitingUserContest.CreatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian tạo: </span>
                                        <span>@waitingUserContest.CreatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center bg-light pt-2 pb-3">
                                <a class="btn btn-warning btn-sm" href="/Question?constestId=@waitingUserContest.ContestId&userContestId=@waitingUserContest.Id">Làm bài thi</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var userContests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>;
            var doneUserContests = userContests?.Where(x => x.StartedTime != null && x.EndedTime != null).ToList();
            if (doneUserContests?.Count > 0)
            {
                <h4 class="p-2 text-success bg-light">Các bài đã thi</h4>
                foreach (var doneUserContest in doneUserContests)
                {
                    <div id="@doneUserContest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3 text-center">
                                    <a href="/UserContestQuestion?userContestId=@doneUserContest.Id">
                                        <img class="w-100" src="~/images/icons/contest-item-done.png" alt="Alternate Text" />
                                    </a>
                                    <div class="text-success pe-2 me-1">(Đã thi)</div>
                                </div>
                                <div class="p-2">
                                    <div>
                                        <span>Tên bài thi: </span>
                                        <span class="fw-bold">@doneUserContest.ContestName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian thi: </span>
                                        <span class="fw-bold">@doneUserContest.ContestTime (phút)</span>
                                    </div>
                                    <div>
                                        <span>Cấp độ bài thi: </span>
                                        <span class="fw-bold">@doneUserContest.ContestLevel</span>
                                    </div>
                                    <div>
                                        <span>Số lượng câu hỏi: </span>
                                        <span class="fw-bold">@doneUserContest.ContestQuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Thành viên thi: </span>
                                        <span class="fw-bold">@doneUserContest.UserContestName</span>
                                    </div>
                                    <div>
                                        <span>Người tạo: </span>
                                        <span>@doneUserContest.CreatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian tạo: </span>
                                        <span>@doneUserContest.CreatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center bg-light pt-2 pb-3">
                                <button class="btn btn-success btn-sm" onclick="getContestResult('@doneUserContest.Id')">Xem kết quả</button>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div aria-label="navigation">
    <ul class="pagination justify-content-center">
        @{
            if (Model.TotalPage > 1)
            {
                var previous = ViewBag.PageIndex - 1 > 0 ? ViewBag.PageIndex - 1 : 1;
                <li class="page-item"><a class="page-link" href="/Contest/Index?pageIndex=@previous&contestName=@ViewBag.ContestName">Trước</a></li>
                for (int i = 1; i <= Model.TotalPage; i++)
                {
                    if (ViewBag.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Contest/Index?pageIndex=@i&contestName=@ViewBag.ContestName">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Contest/Index?pageIndex=@i&contestName=@ViewBag.ContestName">@i</a>
                        </li>
                    }
                }

                var next = ViewBag.PageIndex + 1 <= Model.TotalPage ? ViewBag.PageIndex + 1 : Model.TotalPage;
                <li class="page-item"><a class="page-link" href="/Contest/Index?pageIndex=@next&contestName=@ViewBag.ContestName">Sau</a></li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="contest-result-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertDepartmentLabel">Kết quả bài thi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="contest-result-modal-body">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function getContestResult(userContestId) {
            if (userContestId) {
                $.ajax({
                    method: 'GET',
                    url: '/Contest/Result?userContestId=' + userContestId,
                    success: function (response) {
                        $('#contest-result-modal-body').html(response);
                        $('#contest-result-modal').modal('show');
                    }
                });
            }
        }
    </script>
}
