﻿@model Taipei101EvaluationSystemDAL.ViewModels.UserContestHasNoIsCorrect

@if (Model is null)
{
    <div class="text-center mt-4">
        <h5 class="text-danger">Bạn không có quyền xem kết quả</h5>
    </div>
}
else
{
    <div>
        <span class="fw-bold">Bài thi: </span><span>@Model.UserContest?.ContestName</span>
        <span> - </span>
        <span class="fw-bold">Level: </span><span>@Model.UserContest?.ContestLevel</span>
        <span> - </span>
        <span class="fw-bold">Số câu hỏi: </span><span>@Model.UserContest?.ContestQuestionNumber</span>
    </div>
    <div class="mt-3">
        <span class="fw-bold">Người thi: </span><span>@Model.UserContest?.UserContestName</span>
    </div>
    var diff = Model.UserContest?.EndedTime?.Subtract((DateTime)Model.UserContest.StartedTime);
    var passedMinutes = diff?.Minutes;
    if (diff?.Hours > 0)
    {
        passedMinutes = passedMinutes + diff?.Hours * 60;
    }

    <div class="mt-3">
        <span class="fw-bold">Thời gian làm bài: </span><span>@passedMinutes phút</span>
    </div>
    <div class="mt-3">
        <span class="fw-bold">Số câu chính xác: </span><span>@Model.UserContest?.CorrectAnswer câu</span>
    </div>
}      
