﻿@model Taipei101EvaluationSystemDAL.Entities.Department

<div>
    <label><span class="text-danger">(*)</span>Tên bộ phận:</label>
    <input id="update-name" class="form-control" type="text" placeholder="Nhập tên bộ phận" value="@Model.Name" />
</div>
<div class="mt-3 text-center">
    <button id="update-department-btn" class="btn btn-warning fw-bold">Cập nhật</button>
</div>
<script>
    $('#update-department-btn').on('click', function () {
        const name = $('#update-name').val();
        if (name) {
            const department = {
                Id: '@Model.Id',
                Name: name
            }
            $.ajax({
                method: 'PUT',
                url: '/Department/Update',
                data: department,
                success: function (response) {
                    if (response.status == 1) {
                        toastr.success('Sửa bộ phận thành công!');
                        setTimeout(() => {
                            location.reload();
                        }, 1500)
                    }
                    else if (response.status == 0) {
                        toastr.error('Bộ phận đã tồn tại!');
                    }
                    else {
                        console.log(response)
                    }
                }
            })
        }
    })
</script>