﻿@using Taipei101EvaluationSystemDAL.ViewModels;
@model UserRateViewModel;

@if (Model is null)
{
    <div class="text-center mt-4">
        <h5 class="text-danger">Bạn không có quyền xem đánh giá</h5>
    </div>
}
else
{
    <div class="modal-header">
        @*<h5 class="modal-title" id="rate-modal-title">Đánh giá @Model.Name</h5>*@
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center">
            <div class="card text-center mb-5">
                <div>
                    <label class="mb-0 fw-bold"><span class="text-danger">(*)</span> Ý kiến đã đánh giá</label>
                    <textarea class="form-control" type="text" disabled>@Model.RatedContent</textarea>
                </div>
                <div class="rate bg-dark py-3 text-white mt-3">
                    <h6 class="mb-0">Số sao đã đánh giá</h6>
                    <div class="rating">
                        <input type="radio" @(Model.StarNumber == 5 ? "checked='true'" : "") disabled value="5" id="5"><label for="5">☆</label>
                        <input type="radio" @(Model.StarNumber == 4 ? "checked='true'" : "") disabled value="4" id="4"><label for="4">☆</label>
                        <input type="radio" @(Model.StarNumber == 3 ? "checked='true'" : "") disabled value="3" id="3"><label for="3">☆</label>
                        <input type="radio" @(Model.StarNumber == 2 ? "checked='true'" : "") disabled value="2" id="2"><label for="2">☆</label>
                        <input type="radio" @(Model.StarNumber == 1 ? "checked='true'" : "") disabled value="1" id="1"><label for="1">☆</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}