﻿@using Taipei101EvaluationSystemDAL.ViewModels;
@using Taipei101EvaluationSystemModels;
@using Taipei101EvaluationSystemWebApp.Models;
@model PagedViewModel<List<UserToRateModel>>;

@section Css{
    <link href="~/css/user-rate.css" rel="stylesheet" />
}

@if (Model.Data is not null && Model.Data.Count > 0)
{
    var users = Model.Data as List<UserToRateModel>;

    <h4 class="text-center">Đánh giá thành viên</h4>
    <br />
    @foreach (var user in users)
    {
        <div id="@user.Id" class="col-2 p-2 d-inline-block">
            <div class="shadow">
                @if (user.Avatar is not null)
                {
                    string fullPathAvatar = ViewBag.UploadsFolder + "/" + user.Avatar;
                    <img class="w-100 border user-avatar" src="@fullPathAvatar" alt="avatar" />
                }
                else
                {
                    <img class="w-100 border user-avatar" src="/images/icons/default-avatar.webp" alt="avatar" />
                }
                <div class="bg-light p-2">
                    <div>
                        <span class="fw-bold">Tài khoản: </span>
                        <span>@user.Username</span>
                    </div>
                    <div>
                        <span class="fw-bold">Tên hiển thị:</span>
                        <span>@user.Name</span>
                    </div>
                    <div>
                        <span class="fw-bold">Vai trò:</span>
                        <span>@user.RoleName</span>
                    </div>
                    <div>
                        <span class="fw-bold">Cấp độ:</span>
                        <span>@user.Level</span>
                    </div>

                    @if (user.IsRated)
                    {
                        <div class="mt-2 text-center">
                            <button class="btn btn-primary btn-sm" onclick="openRateModalToView('@user.Id')" data-bs-toggle="modal" data-bs-target="#rate-modal">Xem đánh giá</button>
                        </div>
                    }
                    else
                    {
                        <div class="mt-3 text-center btn-group-sm">
                            <button class="btn btn-success" onclick="openRateModalToRate('@user.Id')" data-bs-toggle="modal" data-bs-target="#rate-modal">Đánh giá</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <div aria-label="navigation">
        <ul class="pagination justify-content-center">
            @{
                if (Model.TotalPage > 1)
                {
                    var previous = ViewBag.PageIndex - 1 > 0 ? ViewBag.PageIndex - 1 : 1;
                    <li class="page-item"><a class="page-link" href="/UserRate/Index?pageIndex=@previous&searchingText=@ViewBag.SearchingText">Trước</a></li>
                    for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        if (ViewBag.PageIndex == i)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/UserRate/Index?pageIndex=@i">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/UserRate/Index?pageIndex=@i">@i</a>
                            </li>
                        }
                    }

                    var next = ViewBag.PageIndex + 1 <= Model.TotalPage ? ViewBag.PageIndex + 1 : Model.TotalPage;
                    <li class="page-item"><a class="page-link" href="/UserRate/Index?pageIndex=@next&searchingText=@ViewBag.SearchingText">Sau</a></li>
                }
            }
        </ul>
    </div>
}
else
{
    <h4 class="text-center mt-5">Phòng ban hiện tại chưa có ai để đánh giá</h4>
} 

<div class="modal fade" id="rate-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rateUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="rate-modal-content">
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/user-rate.js"></script>
}
