﻿@using Taipei101EvaluationSystemDAL.Entities;
@model User;

@if (Model is null)
{
    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="text-center mt-4">
            <h5 class="text-danger">Bạn không có quyền xem thông tin cá nhân</h5>
        </div>
    </div>
}
else
{
    <div class="modal-header">
        <h5 class="modal-title" id="rate-modal-title">Đánh giá @Model.Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="container d-flex justify-content-center">
            <div class="card text-center mb-5">
                <input hidden value="@Model.Id" id="rate-for" />
                <div>
                    <label class="mb-0 fw-bold"><span class="text-danger">(*)</span> Ý kiến đánh giá</label>
                    <textarea id="rate-content" class="form-control" type="text" placeholder="Nhập ý kiến đánh giá" value=""></textarea>
                </div>
                <div class="rate bg-dark py-3 text-white mt-3">
                    <h6 class="mb-0">Đánh giá sao</h6>
                    <div class="rating">
                        <input type="radio" name="@Model.Username" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="@Model.Username" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="@Model.Username" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="@Model.Username" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="@Model.Username" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <div class="buttons px-4 mt-0">
                        <button class="btn btn-warning btn-block fw-bold" onclick="submitRate('@Model.Username')">Đánh giá</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}