﻿@model Taipei101EvaluationSystemModels.PagedViewModel
@{
    ViewData["Title"] = "Quản lý bài thi";
}
@section Scripts{
    <script src="~/js/contest.js"></script>
}

<div class="mt-3 clearfix">
    <div class="fw-bold">Tìm kiếm bài thi</div>
    <form class="float-start d-flex" action="/Contest/Index" method="GET">
        <div>
            <input type="search" class="form-control" name="name" value="@ViewBag.Name" placeholder="Nhập tên bài thi" />
        </div>
        <div>
            <button class="btn btn-warning fw-bold ms-2">Tìm kiếm</button>
        </div>
    </form>
    <div class="float-end">
        <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-contest-modal">Thêm bài thi mới</button>
    </div>
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var contests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.ContestViewModel> ?? new List<Taipei101EvaluationSystemDAL.ViewModels.ContestViewModel>();
            if (contests.Count > 0)
            {
                foreach (var contest in contests)
                {
                    <div id="@contest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3">
                                    <a href="/Question?contestId=@contest.Id" class="text-decoration-none text-secondary">
                                        <img class="w-100" src="~/images/icons/contest-item.png" alt="Alternate Text" />
                                        <span>(Xem chi tiết)</span>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <div>
                                        <span>Tên bài thi: </span>
                                        <a href="/Question?contestId=@contest.Id" class="fw-bold">
                                            @contest.Name
                                        </a>
                                    </div>
                                    <div class="mt-2">
                                        <span>Thời gian thi: </span>
                                        <span class="fw-bold">@contest.Time (phút)</span>
                                    </div>
                                    <div>
                                        <span>Cấp độ bài thi: </span>
                                        <span class="fw-bold">@contest.Level</span>
                                    </div>
                                    <div>
                                        <span>Số lượng câu hỏi: </span>
                                        <span class="fw-bold">@contest.QuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Người tạo: </span>
                                        <span>@contest.CreatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian tạo: </span>
                                        <span>@contest.CreatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                    <div>
                                        <span>Người sửa: </span>
                                        <span>@contest.UpdatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian sửa: </span>
                                        <span>@contest.UpdatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group-sm text-center bg-light pt-2 pb-3">
                                <button class="btn btn-primary" onclick="updateContest('@contest.Id')">Sửa bài thi</button>
                                <button class="btn btn-danger" onclick="deleteContest('@contest.Id')">Xóa bài thi</button>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div aria-label="navigation">
    <ul class="pagination justify-content-center">
        @{
            if (Model.TotalPage > 1)
            {
                var previous = ViewBag.PageIndex - 1 > 0 ? ViewBag.PageIndex - 1 : 1;
                <li class="page-item"><a class="page-link" href="/Contest/Index?pageIndex=@previous&name=@ViewBag.Name">Trước</a></li>
                for (int i = 1; i <= Model.TotalPage; i++)
                {
                    if (ViewBag.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Contest/Index?pageIndex=@i&name=@ViewBag.Name">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Contest/Index?pageIndex=@i&name=@ViewBag.Name">@i</a>
                        </li>
                    }
                }

                var next = ViewBag.PageIndex + 1 <= Model.TotalPage ? ViewBag.PageIndex + 1 : Model.TotalPage;
                <li class="page-item"><a class="page-link" href="/Contest/Index?pageIndex=@next&name=@ViewBag.Name">Sau</a></li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="update-contest-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateContestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateContestLabel">Cập nhật bài thi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-contest-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="insert-contest-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertContestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertContestLabel">Thêm bài thi mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label><span class="text-danger">(*)</span>Tên bài thi:</label>
                    <input id="insert-name" type="text" class="form-control" placeholder="Nhập tên bài thi" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Thời gian thi: (phút)</label>
                    <input id="insert-time" type="number" class="form-control" placeholder="Nhập thời gian thi" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Cấp độ bài thi:</label>
                    <input id="insert-level" type="number" class="form-control" placeholder="Nhập cấp độ bài thi" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Số lượng câu hỏi:</label>
                    <input id="insert-question-number" type="number" class="form-control" placeholder="Nhập số lượng câu hỏi" />
                </div>

                <div class="mt-4 text-center">
                    <button id="insert-contest-btn" class="btn btn-warning fw-bold">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>