﻿@model Taipei101EvaluationSystemDAL.Entities.Contest

<div>
    <label><span class="text-danger">(*)</span>Tên bài thi:</label>
    <input id="update-name" type="text" class="form-control" placeholder="Nhập tên bài thi" value="@Model.Name" />
</div>
<div class="mt-3">
    <label><span class="text-danger">(*)</span>Thời gian thi: (phút)</label>
    <input id="update-time" type="number" class="form-control" placeholder="Nhập thời gian thi" value="@Model.Time" />
</div>
<div class="mt-3">
    <label><span class="text-danger">(*)</span>Cấp độ bài thi:</label>
    <input id="update-level" type="number" class="form-control" placeholder="Nhập cấp độ bài thi" value="@Model.Level" />
</div>

<div class="mt-3">
    <label><span class="text-danger">(*)</span>Số lượng câu hỏi:</label>
    <input id="update-question-number" type="number" class="form-control" placeholder="Nhập số lượng câu hỏi" value="@Model.QuestionNumber" />
</div>

<div class="mt-4 text-center">
    <button id="update-contest-btn" class="btn btn-warning fw-bold">Cập nhật</button>
</div>

<script>
    $('#update-contest-btn').on('click', function () {
        const name = $('#update-name').val();
        const time = $('#update-time').val();
        const level = $('#update-level').val();
        const questionNumber = $('#update-question-number').val();
        if (name && time && level && questionNumber) {
            if (time < 1) {
                $('#update-time').focus();
                toastr.error('Vui lòng nhập thời gian thi lớn hơn 0!');
                return;
            };
            if (level < 1) {
                $('#update-level').focus();
                toastr.error('Vui lòng nhập cấp độ bài thi lớn hơn 0!');
                return;
            };
            if (questionNumber < 1) {
                $('#update-question-number').focus();
                toastr.error('Vui lòng nhập số lượng câu hỏi lớn hơn 0!');
                return;
            };
            const contest = {
                Id: '@Model.Id',
                Name: name,
                Time: time,
                Level: level,
                QuestionNumber: questionNumber
            };
            $.ajax({
                method: 'PUT',
                url: '/Contest/Update',
                data: contest,
                success: function (response) {
                    if (response.status == 1) {
                        toastr.success('Sửa bài thi mới thành công!');
                        setTimeout(() => {
                            location.reload();
                        }, 1500)
                    }
                    else if (response.status == 0) {
                        toastr.error('Bài thi đã tồn tại!');
                    }
                    else {
                        console.log(response)
                    }
                }
            })
        }
        else {
            toastr.warning('Vui lòng nhập đủ thông tin!');
        }
    })
</script>
