﻿@model Taipei101EvaluationSystemDAL.ViewModels.UserContestDetailModel
@{
    ViewData["Title"] = Model.UserContest?.ContestName;
}
@section css{
    <link href="/css/user-contest-question.css" rel="stylesheet" />
}

<div class="mt-3 clearfix">
    <div class="fw-bold">Tìm kiếm câu hỏi</div>
    <form class="float-start d-flex" action="/UserContestQuestion/Index" method="GET">
        <div>
            <input type="hidden" name="userContestId" value="@Model.UserContest?.Id" />
            <input type="search" class="form-control" name="questionContent" value="@ViewBag.QuestionContent" placeholder="Nhập nội dung câu hỏi" />
        </div>
        <div>
            <button class="btn btn-warning fw-bold ms-2">Tìm kiếm</button>
        </div>
    </form>
    <div class="float-end">
        <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-user-contest-question-modal">Thêm câu hỏi mới</button>
    </div>
</div>

<div>
    @{
        if (Model != null)
        {
            if (Model.UserContest != null)
            {
                <div class="text-center">
                    <h1>@Model.UserContest.ContestName</h1>
                    <div>
                        (<span>Thời gian thi: @Model.UserContest.ContestTime phút,</span>
                        <span>Cấp độ: @Model.UserContest.ContestLevel,</span>
                        <span>Số câu hỏi: @Model.UserContest.ContestQuestionNumber</span>
                        <span>, Người tạo: @Model.UserContest.CreatedByName</span>)
                    </div>
                </div>

                <div id="questions-container" class="ps-3">
                    @{
                        if (Model.Questions?.Count > 0)
                        {
                            var questions = Model.Questions;
                            for (int i = 0; i < questions.Count; i++)
                            {
                                <div class="d-flex mt-3 mb-3 bg-light p-2 justify-content-between align-items-center" id="remove-@questions[i].Id">
                                    <div class="col-10">
                                        <div class="d-flex w-100 justify-content-between align-items-center fw-bold">
                                            <div class="d-flex w-100">
                                                @{
                                                    var questionOrder = i + 1;
                                                }
                                                <h5 class="col-1 mb-0 p-0 fw-bold text-warning">Câu hỏi @questionOrder:</h5>
                                                <div>
                                                    @Html.Raw(questions[i].Content)
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            if (questions[i].Answers?.Count > 0)
                                            {
                                                <div class="text-center">
                                                    @{
                                                        foreach (var answer in questions[i].Answers)
                                                        {
                                                            <div class="d-inline-block ms-4">
                                                                @{
                                                                    if (answer.IsCorrect == true)
                                                                    {
                                                                        <div class="text-success fw-bold">
                                                                            @answer.Content
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div>
                                                                            @answer.Content
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="ms-1 cursor-pointer text-danger" onclick="deleteUserContestQuestion('@Model.UserContest?.Id','@questions[i]?.Id')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                        </svg>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    }
</div>

<div class="modal fade" id="insert-user-contest-question-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertUserContestQuestionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="d-flex">
                    <div>
                        <input id="question-content-to-search" type="search" class="form-control" placeholder="Nhập nội dung câu hỏi" />
                    </div>
                    <div class="ms-1">
                        <button id="search-questions-btn" class="btn btn-warning">Tìm kiếm</button>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3">
                    <div id="insert-questions">
                        <div class="text-center">
                            <div class="d-inline-block text-start">
                                <div>1, Nhập nội dung câu hỏi sau đó nhấn tìm kiếm</div>
                                <div>2, Chọn câu hỏi muốn thêm</div>
                                <div>3, Nhấn nút thêm mới</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0">
                <button onclick="insertManyUserContestQuestion()" class="btn btn-warning fw-bold">Thêm câu hỏi mới</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function deleteUserContestQuestion(userContestId, questionId) {
            if (userContestId, questionId) {
                const oke = confirm('Bạn có chắc chắn muốn xóa?');
                if (oke) {
                    $.ajax({
                        method: 'DELETE',
                        url: `/UserContestQuestion/Delete?userContestId=${userContestId}&questionId=${questionId}`,
                        success: function (response) {
                            if (response.status == 1) {
                                toastr.success('Xoá câu hỏi thành công!');
                                $('#remove-' + questionId).remove();
                            }
                            else if (response.status == 0) {
                                toastr.error('Câu hỏi hiện không tồn tại!');
                            }
                            else {
                                console.log(response)
                            }
                        }
                    });
                }
            }
        }

        $('#search-questions-btn').click(function () {
            const questionContent = $('#question-content-to-search').val();
            const userContestId = '@Model?.UserContest?.Id';
            const contestId = '@Model?.UserContest?.ContestId';
            if (questionContent) {
                $.ajax({
                    method: 'GET',
                    url: `/Question/Search?userContestId=${userContestId}&contestId=${contestId}&content=${questionContent}`,
                    success: function (questions) {
                        if (questions) {
                            $('#insert-questions').html(questions);
                        }
                    },
                    error: function (error) {
                        toastr.warning('Không tìm thấy câu hỏi nào!')
                    }
                });
            }
            else {
                toastr.warning('Vui lòng nhập nội dung để tìm kiếm!')
            }
        });

        var userContestQuestions = [];
        function selectQuestion(id, element) {
            if (id) {
                var checkSelectedQuestion = userContestQuestions.find(x => x.QuestionId == id);
                if (checkSelectedQuestion) {
                    const index = userContestQuestions.indexOf(checkSelectedQuestion);
                    userContestQuestions.splice(index, 1);
                    $(element).removeClass("selected-question");
                }else{
                    const newUserContestQuestion = {
                        UserContestId: '@Model?.UserContest?.Id',
                        QuestionId: id
                    };
                    userContestQuestions.push(newUserContestQuestion)
                    $(element).addClass("selected-question");
                }
            }

            console.log(userContestQuestions);
        }

        function insertManyUserContestQuestion() {
            if (userContestQuestions.length > 0) {
                const userContestQuestionsViewModel = {
                    UserContestQuestions: userContestQuestions
                };
                $.ajax({
                    method: 'POST',
                    url: '/UserContestQuestion/InsertMany',
                    data: userContestQuestionsViewModel,
                    success: function (response) {
                        if (response.status == 1) {
                            toastr.success('Thêm câu hỏi mới thành công!');
                            setTimeout(() => {
                                location.reload();
                            }, 1500)
                        }else if (response.status == -99) {
                            toastr.error(response.message);
                        }
                        else {
                            console.log(response)
                        }
                    }
                });
            }else{
                toastr.warning('Vui lòng chọn ít nhất một câu hỏi!')
            }
        }
    </script>
}