﻿@using Taipei101EvaluationSystemDAL.ViewModels;
@model List<RoleViewModel>;

@{
    ViewData["Title"] = "Phân quyền chức năng";
}

@section Css{
    <link rel="stylesheet" href="~/css/role-action.css" />
}

<div class="row mt-4">
    <b class="mb-4">Phân quyền chức năng</b>
    <div class="col-4">
        <div class="list-group" id="list-role" role="tablist">
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <a class="list-group-item list-group-item-action fw-bold active"
                       data-bs-toggle="list" href="#list-action" role="tab" aria-controls="list-home" onclick="showAllActions('@Model[i].Id')">@Model[i].RoleName</a>
                }
                else{
                    <a class="list-group-item list-group-item-action fw-bold"
                       data-bs-toggle="list" href="#list-action" role="tab" aria-controls="list-home" onclick="showAllActions('@Model[i].Id')">@Model[i].RoleName</a>
                }
            }
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-action" role="tabpanel" aria-labelledby="list-home-list">
            </div>
            <button type="button" class="btn btn-warning fw-bold" onclick="grantActionsToRole()">Cập nhật quyền</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/role-action.js"></script>
}