﻿#list-role {
    max-height: 800px;
    overflow-y: scroll;
}

#list-action {
    max-height: 500px;
    overflow-y: scroll;
}
.list-group-item.active {
    background-color: #fd9900 !important;
    color: #fff !important;
    border-color: black !important;
}

.form-check-input:checked{
    background-color: #fd9900 !important;
    border-color: black !important;
}

.form-check.form-switch input {
    cursor: pointer;
}

.form-check.form-switch label {
    cursor: pointer;
}