
.global-color-1 {
    color: #fd9900;
}

.cursor-pointer{
    cursor: pointer;
}

#left-aside a:hover {
    color: #fd9900 !important;
}

.form-check-input{
    width: 20px;
    height: 20px;
}

.collapsein {
    display: none;
}

li {
    list-style: none;
}