﻿@model Taipei101EvaluationSystemModels.PagedViewModel
@{
    ViewData["Title"] = "Quản lý thành viên";
}
@section css{
    <link href="~/css/user.css" rel="stylesheet" />
    <link href="~/css/user-rate.css" rel="stylesheet" />
}
<div class="mt-3 clearfix">
    <div class="fw-bold">Tìm kiếm thành viên</div>
    <form class="w-50 float-start d-flex" action="/User/Index" method="GET">
        <div class="col-4">
            <input type="search" class="form-control" name="searchingText" value="@ViewBag.SearchingText" placeholder="Nhập username hoặc tên" />
        </div>
        <div>
            <button class="btn btn-warning fw-bold ms-2">Tìm kiếm</button>
        </div>
    </form>
    <div class="float-end">
        <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-user-modal">Thêm thành viên mới</button>
    </div>
</div>

<div class="mt-4">
    @{
        if (Model.Data != null)
        {
            var users = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserViewModel>;
            if (users.Count > 0)
            {
                foreach (var user in users)
                {
                    <div id="@user.Id" class="col-2 p-2 d-inline-block">
                        <div class="shadow">
                            @if (user.Avatar != null)
                            {
                                <img class="w-100 border user-avatar" src="@ViewBag.UploadsFolder@user.Avatar" alt="avatar" />
                            }
                            else
                            {
                                <img class="w-100 border user-avatar" src="/images/icons/default-avatar.webp" alt="avatar" />
                            }
                            <div class="bg-light p-2">
                                <div>
                                    <span class="fw-bold">Tài khoản: </span>
                                    <span>@user.Username</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Tên hiển thị:</span>
                                    <span>@user.Name</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Vai trò:</span>
                                    <span>@user.RoleName</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Cấp độ:</span>
                                    <span>@user.Level</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Thời gian tạo:</span>
                                    <span>@user.CreatedTime?.ToString("dd-MM-yyyy H:mm")</span>
                                </div>
                                <div>
                                    <span class="fw-bold">Thời gian sửa:</span>
                                    <span>@user.UpdatedTime?.ToString("dd-MM-yyyy H:mm")</span>
                                </div>
                                <div class="mt-3 text-center btn-group-sm">
                                    <button class="btn btn-success" onclick="evaluateUser(@user.Level, '@user.Id')">Đánh giá</button>
                                    <button class="btn btn-info" onclick="updateUser('@user.Id')">Sửa</button>
                                    <button class="btn btn-danger" onclick="deleteUser('@user.Id')">Xóa</button>
                                </div>
                                <div class="mt-2 text-center">
                                    <button class="btn btn-primary btn-sm" onclick="watchReview('@user.Id')">Xem nhận xét</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div aria-label="navigation">
    <ul class="pagination justify-content-center">
        @{
            if (Model.TotalPage > 1)
            {
                var previous = ViewBag.PageIndex - 1 > 0 ? ViewBag.PageIndex - 1 : 1;
                <li class="page-item"><a class="page-link" href="/User/Index?pageIndex=@previous&searchingText=@ViewBag.SearchingText">Trước</a></li>
                for (int i = 1; i <= Model.TotalPage; i++)
                {
                    if (ViewBag.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/User/Index?pageIndex=@i&searchingText=@ViewBag.SearchingText">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/User/Index?pageIndex=@i&searchingText=@ViewBag.SearchingText">@i</a>
                        </li>
                    }
                }

                var next = ViewBag.PageIndex + 1 <= Model.TotalPage ? ViewBag.PageIndex + 1 : Model.TotalPage;
                <li class="page-item"><a class="page-link" href="/User/Index?pageIndex=@next&searchingText=@ViewBag.SearchingText">Sau</a></li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="evaluate-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="evaluateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evaluateLabel">Đánh giá nhân viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="evaluate-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="watch-review-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="evaluateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evaluateLabel">Nhận xét</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="watch-review-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserLabel">Cập nhật thông tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-user-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="insert-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertUserLabel">Thêm thành viên mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="col-3">
                        <img id="insert-avatar-img" class="w-100" src="~/images/icons/default-avatar.webp" alt="Alternate Text" />
                    </div>
                    <div id="insert-avatar-container" class="ms-2">
                        <div>Chọn ảnh đại diện:</div>
                        <input class="form-control form-control-sm" type="file" accept="image/*" id="insert-avatar-file">
                        <input id="insert-avatar-url" type="hidden" value="" />
                    </div>
                </div>

                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Bộ phận:</label>
                    <select id="insert-department" class="form-select">
                        <option value="">Chọn bộ phận</option>
                        @{
                            if (ViewBag.Departments != null)
                            {
                                var departments = ViewBag.Departments as List<Taipei101EvaluationSystemDAL.Entities.Department>;
                                foreach (var department in departments)
                                {
                                    <option value="@department.Id">@department.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Username:</label>
                    <input id="insert-username" type="text" placeholder="Nhập username" class="form-control" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Mật khẩu</label>
                    <input id="insert-password" type="password" placeholder="Nhập password" class="form-control" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Tên hiển thị:</label>
                    <input id="insert-name" type="text" placeholder="Nhập tên hiển thị" class="form-control" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Vai trò:</label>
                    <select id="insert-role" class="form-select">
                        <option value="">Chọn vai trò</option>
                        @{
                            if (ViewBag.Departments != null)
                            {
                                var roles = ViewBag.Roles as List<Taipei101EvaluationSystemDAL.ViewModels.RoleViewModel>;
                                foreach (var role in roles)
                                {
                                    <option value="@role.Id">@role.RoleName</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="mt-4 text-center">
                    <button id="insert-user-btn" class="btn btn-warning fw-bold">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
    <script>
        $('#insert-avatar-file').change(function () {
            const file = $(this)[0].files[0];
            if (file) {
                let formData = new FormData();
                formData.append("file", file);
                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        let div = `<div id="progress-bar-container" class="progress w-100">
                                      <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                                   </div>`
                        $("#insert-avatar-container").append(div);
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);
                                $("#progress-bar").css('width', percentComplete + '%');
                                $("#progress-bar").text(percentComplete + '%');
                                if (percentComplete === 100) {
                                    $("#progress-bar-container").remove();
                                }
                            }
                        }, false);

                        return xhr;
                    },
                    method: 'POST',
                    url: '/File/Upload?folder=avatars',
                    data: formData,
                    contentType: false,
                    processData: false,
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            toastr.success('Avatar uploaded!');
                            $('#insert-avatar-img').attr('src', '@ViewBag.UploadsFolder' + response.data);
                            $('#insert-avatar-url').val(response.data);
                        }
                        else {
                            console.log(response);
                        }
                    }
                })
            }
        });

        function userEvaluate(evaluationCriteriaId, userId, element) {
            const checked = $(element).is(':checked');
            if (evaluationCriteriaId && userId) {
                if (checked) {
                    const userEvaluationCriteria = {
                        UserId: userId,
                        EvaluationCriteriaId: evaluationCriteriaId
                    };
                    console.log(userEvaluationCriteria)
                    $.ajax({
                        method: 'POST',
                        url: '/UserEvaluationCriteria/Insert',
                        data: userEvaluationCriteria,
                        success: function (response) {
                            if (response.status == 1) {
                                toastr.success('Lưu đánh giá thành công!');
                            }
                            else if (response.status == 0) {
                                toastr.error('Đánh giá đã tồn tại!');
                            }
                            else {
                                console.log(response)
                            }
                        }
                    });
                }
                else {
                    $.ajax({
                        method: 'DELETE',
                        url: `/UserEvaluationCriteria/Delete?userId=${userId}&evaluationCriteriaId=${evaluationCriteriaId}`,
                        success: function (response) {
                            if (response.status == 1) {
                                toastr.success('Xóa đánh giá thành công!');
                            }
                            else if (response.status == 0) {
                                toastr.error('Đánh giá hiện không tồn tại!');
                            }
                            else {
                                console.log(response)
                            }
                        }
                    });
                }
            }
        }
    </script>
}