﻿@model Taipei101EvaluationSystemDAL.Entities.User
<div class="d-flex justify-content-center align-items-center">
    <div class="col-3">
        @{
            if (Model.Avatar != null)
            {
                <img id="update-avatar-img" class="w-100" src="@ViewBag.UploadsFolder@Model.Avatar" alt="Alternate Text" />
            }
            else
            {
                <img id="update-avatar-img" class="w-100" src="~/images/icons/default-avatar.webp" alt="Alternate Text" />
            }
        }
    </div>
    <div id="update-avatar-container" class="ms-2">
        <div>Chọn ảnh đại diện:</div>
        <input class="form-control form-control-sm" type="file" accept="image/*" id="update-avatar-file">
        <input id="update-avatar-url" type="hidden" value="" />
    </div>
</div>

<div class="mt-3">
    <label><span class="text-danger">(*)</span>Bộ phận:</label>
    <select id="update-department" class="form-select">
        <option value="">Chọn bộ phận</option>
        @{
            if (ViewBag.Departments != null)
            {
                var departments = ViewBag.Departments as List<Taipei101EvaluationSystemDAL.Entities.Department>;
                foreach (var department in departments)
                {
                    if (department.Id == Model.DepartmentId)
                    {
                        <option value="@department.Id" selected>@department.Name</option>
                    }
                    else
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                }
            }
        }
    </select>
</div>
<div class="mt-3">
    <label>Mật khẩu: <span class="text-danger">(Để trống nếu không sửa)</span></label>
    <input id="update-password" type="password" placeholder="Nhập password" class="form-control" />
</div>
<div class="mt-3">
    <label><span class="text-danger">(*)</span>Tên hiển thị:</label>
    <input id="update-name" type="text" placeholder="Nhập tên hiển thị" class="form-control" value="@Model.Name" />
</div>
<div class="mt-3">
    <label><span class="text-danger">(*)</span>Vai trò:</label>
    <select id="update-role" class="form-select">
        <option value="">Chọn vai trò</option>
        @{
            if (ViewBag.Departments != null)
            {
                var roles = ViewBag.Roles as List<Taipei101EvaluationSystemDAL.ViewModels.RoleViewModel>;
                foreach (var role in roles)
                {
                    if (role.Id == Model.RoleId)
                    {
                        <option value="@role.Id" selected>@role.RoleName</option>
                    }
                    else
                    {
                        <option value="@role.Id">@role.RoleName</option>
                    }
                }
            }
        }
    </select>
</div>
<div class="mt-4 text-center">
    <button id="update-user-btn" class="btn btn-warning fw-bold">Cập nhật</button>
</div>

<script>
    $('#update-avatar-file').change(function () {
        const file = $(this)[0].files[0];
        if (file) {
            let formData = new FormData();
            formData.append("file", file);
            $.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    let div = `<div id="progress-bar-container" class="progress w-100">
                                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                                </div>`
                    $("#update-avatar-container").append(div);
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = parseInt(percentComplete * 100);
                            $("#progress-bar").css('width', percentComplete + '%');
                            $("#progress-bar").text(percentComplete + '%');
                            if (percentComplete === 100) {
                                $("#progress-bar-container").remove();
                            }
                        }
                    }, false);

                    return xhr;
                },
                method: 'POST',
                url: '/File/Upload?folder=avatars',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function (response) {
                    console.log(response)
                    if (response.status == 1) {
                        toastr.success('Avatar uploaded!');
                        $('#update-avatar-img').attr('src', '@ViewBag.UploadsFolder' + response.data);
                        $('#update-avatar-url').val(response.data);
                    }
                    else {
                        console.log(response);
                    }
                }
            })
        }
    });

    $('#update-user-btn').on('click', function () {
        const avatar = $('#update-avatar-url').val();
        const department = $('#update-department').val();
        const password = $('#update-password').val();
        const name = $('#update-name').val();
        const role = $('#update-role').val();

        if (department && name && role) {
            const user = {
                Id: '@Model.Id',
                DepartmentId: department,
                Password: password,
                Name: name,
                Avatar: avatar,
                RoleId: role
            }
            $.ajax({
                method: 'PUT',
                url: '/User/Update',
                data: user,
                success: function (response) {
                    if (response.status == 1) {
                        toastr.success('Cập nhật thành công!');
                        setTimeout(() => {
                            location.reload();
                        }, 1500)
                    }
                    else if (response.status == 0) {
                        toastr.error('Thành viên đã tồn tại!');
                    }
                    else {
                        console.log(response)
                    }
                }
            })
        }
        else {
            toastr.warning('Vui lòng nhập đủ thông tin!');
        }
    })
</script>