﻿@model List<Taipei101EvaluationSystemDAL.ViewModels.UserRateViewModel>
@{
    if (Model?.Count > 0)
    {
        @foreach (var item in Model)
        {
            <div class="row d-flex justify-content-between">
                <div class="col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                            <img src="@item.RateByAvatar" class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="@item.RateByName" title="@item.RateByName" width="100" height="100" />
                        </div>
                        <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">
                            @for (int i = 0; i < item.StarNumber; i++)
                            {
                                <svg class="star-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/2000/xlink" width="21px" height="20px">
                                    <path d="M0,0.054V20h21V0.054H0z M15.422,18.129l-5.264-2.768l-5.265,2.768l1.006-5.863L1.64,8.114l5.887-0.855l2.632-5.334l2.633,5.334l5.885,0.855l-4.258,4.152L15.422,18.129z" />
                                </svg>
                            }
                            </h4>
                            <p class="mb-0 pb-3">
                                @item.RatedContent
                            </p>
                        </div>
                    </div>
                </div>
            </div>
           
        }

    }
    else
    {
        <b>Hiện chưa có người đánh giá nào</b>
    }
}