﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <div class="d-flex">
        <div class="col-2 vh-100 bg-light">
            <div class="text-center mt-2">
                <a href="/">
                    <img class="w-50" src="/images/logo.webp" alt="Logo" />
                </a>
            </div>
            <div id="left-aside" class="mt-3 ps-3">
                <div>
                    <a class="text-decoration-none fw-bold text-black" href="/Department">
                        <img width="32" src="~/images/icons/department.png" alt="department" />
                        <span>Quản lý bộ phận</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/User">
                        <img width="32" src="~/images/icons/user.png" alt="user" />
                        <span>Quản lý thành viên</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/EvaluationCriteria">
                        <img width="32" src="~/images/icons/evaluation-criteria.png" alt="evaluation-criteria" />
                        <span>Tiêu chí đánh giá</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/Contest">
                        <img width="32" src="~/images/icons/contest.png" alt="contest" />
                        <span>Quản lý bài thi</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/UserContest">
                        <img width="32" src="~/images/icons/history.png" alt="history" />
                        <span>Quản lý lịch thi</span>
                    </a>
                </div>
                <div class="mt-3">
                    <li class="active">
                        <img width="32" src="~/images/icons/role-management.png" alt="role" />
                        <a href="#" class="text-decoration-none fw-bold text-black clickable panel-collapsed">Phân quyền
                        </a>
                        <ul class="collapsein">
                            <li class="mt-3">
                                <a class="text-decoration-none fw-bold text-black" href="/Role">
                                    <img width="32" src="~/images/icons/role.png" alt="role" />
                                    <span>Quản lí vai trò</span>
                                </a>
                            </li>
                            <li class="mt-3">
                                <a class="text-decoration-none fw-bold text-black" href="/RoleAction">
                                    <img width="32" src="~/images/icons/role-action.jpg" alt="role" />
                                    <span>Phân quyền chức năng</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/Login/Logout">
                        <img width="32" src="~/images/icons/logout.png" alt="logout" />
                        <span>Đăng xuất</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 vh-100 overflow-auto">
            @RenderBody()
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_Loading.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>