﻿@model List<Taipei101EvaluationSystemDAL.Entities.EvaluationCriteria>
@{
    if (Model?.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            string mt = "";
            if (i > 0)
            {
                mt = "mt-3";
            }
            <div class="d-flex @mt">
                <div>
                    @{
                        var userEvaluationCriterias = ViewBag.UserEvaluationCriterias as List<Taipei101EvaluationSystemDAL.Entities.UserEvaluationCriteria>;
                        if (userEvaluationCriterias?.Find(x => x.EvaluationCriteriaId == Model[i].Id) != null)
                        {
                            <input type="checkbox" class="form-check-input" onclick="userEvaluate('@Model[i].Id', '@ViewBag.UserId', this)" checked />
                        }
                        else
                        {
                            <input type="checkbox" class="form-check-input" onclick="userEvaluate('@Model[i].Id', '@ViewBag.UserId', this)" />
                        }
                    }
                </div>
                <div class="ms-2">
                    @Model[i].Criteria
                </div>
            </div>
        }
    }
    else
    {
        <h5 class="text-warning text-center">Không có tiêu chí đánh giá nào ở cấp độ này.</h5>
    }
}