﻿@model Taipei101EvaluationSystemModels.PagedViewModel
@{
    ViewData["Title"] = "Quản lý tiêu chí đánh giá";
}

@section Scripts{
    <script src="~/js/evaluation-criteria.js"></script>
}

<div class="mt-3 clearfix">
    <div class="fw-bold">Tìm tiêu chí đánh giá</div>
    <form class="float-start d-flex" action="/EvaluationCriteria/Index" method="GET">
        <div>
            <input type="search" class="form-control" name="criteria" value="@ViewBag.Criteria" placeholder="Nhập nội dung" />
        </div>
        <div class="ms-2">
            <input type="number" class="form-control" name="level" value="@ViewBag.Level" placeholder="Nhập cấp độ" />
        </div>
        <div class="ms-2">
            <button class="btn btn-warning fw-bold ms-2">Tìm kiếm</button>
        </div>
    </form>
    <div class="float-end">
        <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-evaluarion-criteria-modal">Thêm tiêu chí mới</button>
    </div>
</div>

<table class="table table-striped text-center mt-3">
    <thead>
        <tr>
            <th class="col-4">Tiêu chí</th>
            <th>Cấp độ</th>
            <th>Người tạo</th>
            <th>Thời gian tạo</th>
            <th>Người sửa</th>
            <th>Thời gian sửa</th>
            <th>Sắp xếp</th>
            <th class="col-1">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Data != null)
            {
                var evaluationCriterias = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.EvaluationCriteriaViewModel>;
                if (evaluationCriterias?.Count > 0)
                {
                    foreach (var evaluationCriteria in evaluationCriterias)
                    {
                        <tr id="@evaluationCriteria.Id">
                            <td>@evaluationCriteria.Criteria</td>
                            <td>@evaluationCriteria.Level</td>
                            <td>@evaluationCriteria.CreatedByName</td>
                            <td>@evaluationCriteria.CreatedTime</td>
                            <td>@evaluationCriteria.UpdatedByName</td>
                            <td>@evaluationCriteria.UpdatedTime</td>
                            <td>@evaluationCriteria.Order</td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="cursor-pointer text-primary" onclick="updateEvaluationCriteria('@evaluationCriteria.Id')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </div>
                                    <div class="cursor-pointer ms-2 text-danger" onclick="deleteEvaluationCriteria('@evaluationCriteria.Id')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

<div aria-label="navigation">
    <ul class="pagination justify-content-center">
        @{
            if (Model.TotalPage > 1)
            {
                var previous = ViewBag.PageIndex - 1 > 0 ? ViewBag.PageIndex - 1 : 1;
                <li class="page-item"><a class="page-link" href="/EvaluationCriteria/Index?pageIndex=@previous&criteria=@ViewBag.Criteria&level=@ViewBag.Level">Trước</a></li>
                for (int i = 1; i <= Model.TotalPage; i++)
                {
                    if (ViewBag.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/EvaluationCriteria/Index?pageIndex=@i&criteria=@ViewBag.Criteria&level=@ViewBag.Level">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/EvaluationCriteria/Index?pageIndex=@i&criteria=@ViewBag.Criteria&level=@ViewBag.Level">@i</a>
                        </li>
                    }
                }

                var next = ViewBag.PageIndex + 1 <= Model.TotalPage ? ViewBag.PageIndex + 1 : Model.TotalPage;
                <li class="page-item"><a class="page-link" href="/EvaluationCriteria/Index?pageIndex=@next&criteria=@ViewBag.Criteria&level=@ViewBag.Level">Sau</a></li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="update-evaluarion-criteria-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateEvaluationCriteriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEvaluationCriteriaLabel">Cập nhật tiêu chí đánh giá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-evaluarion-criteria-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="insert-evaluarion-criteria-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertEvaluationCriteriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertEvaluationCriteriaLabel">Thêm tiêu chí đánh giá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label><span class="text-danger">(*)</span>Nội dung:</label>
                    <input id="insert-criteria" type="text" placeholder="Nhập nội dung" class="form-control" />
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Cấp độ:</label>
                    <input id="insert-level" type="number" placeholder="Nhập cấp độ" class="form-control" />
                </div>
                <div class="mt-3">
                    <label>Sắp xếp:</label>
                    <input id="insert-order" type="number" placeholder="Nhập thứ tự sắp xếp" class="form-control" />
                </div>
                <div class="mt-4 text-center">
                    <button id="insert-evaluarion-criteria-btn" class="btn btn-warning fw-bold">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>