﻿@model Taipei101EvaluationSystemDAL.Entities.EvaluationCriteria

<div>
    <label><span class="text-danger">(*)</span>Nội dung:</label>
    <input id="update-criteria" type="text" placeholder="Nhập nội dung" class="form-control" value="@Model.Criteria" />
</div>
<div class="mt-3">
    <label><span class="text-danger">(*)</span>Cấp độ:</label>
    <input id="update-level" type="number" placeholder="Nhập cấp độ" class="form-control" value="@Model.Level" />
</div>
<div class="mt-3">
    <label>Sắp xếp:</label>
    <input id="update-order" type="number" placeholder="Nhập thứ tự sắp xếp" class="form-control" value="@Model.Order" />
</div>
<div class="mt-4 text-center">
    <button id="update-evaluarion-criteria-btn" class="btn btn-warning fw-bold">Cập nhật</button>
</div>

<script>
    $('#update-evaluarion-criteria-btn').click(function () {
        const criteria = $('#update-criteria').val();
        const level = $('#update-level').val();
        const order = $('#update-order').val();
        if (criteria && level) {
            if (level < 0) {
                toastr.warning('Cấp độ phải lớn hơn hoặc bằng 0!');
                $('#update-level').focus();
                return;
            }

            if (order && order < 0) {
                toastr.warning('Thứ tự phải lớn hơn hoặc bằng 0!');
                $('#update-order').focus();
                return;
            }

            const evaluationCriteria = {
                Id: '@Model.Id',
                Criteria: criteria,
                Level: level,
                Order: order
            };

            $.ajax({
                method: 'PUT',
                url: '/EvaluationCriteria/Update',
                data: evaluationCriteria,
                success: function (response) {
                    if (response.status == 1) {
                        toastr.success('Cập nhật thành công!');
                        setTimeout(() => {
                            location.reload();
                        }, 1500)
                    }
                    else if (response.status == 0) {
                        toastr.error('Tiêu chí đánh giá đã tồn tại!');
                    }
                    else {
                        console.log(response)
                    }
                }
            });
        }
    });
</script>