﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <div class="d-flex">
        <div class="col-2 vh-100 bg-light">
            <div class="text-center mt-2">
                <a href="/">
                    <img class="w-50" src="/images/logo.webp" alt="Logo" />
                </a>
            </div>
            <div id="left-aside" class="mt-3 ps-3">
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/User">
                        <img width="32" src="~/images/icons/role.png" alt="infomation" />
                        <span>Thông tin cá nhân</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/Contest">
                        <img width="32" src="~/images/icons/contest-item.png" alt="contest" />
                        <span>Danh sách bài thi</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/UserRate">
                        <img width="32" src="~/images/icons/contest.png" alt="rate" />
                        <span>Đánh giá thành viên</span>
                    </a>
                </div>
                <div class="mt-3">
                    <a class="text-decoration-none fw-bold text-black" href="/Login/Logout">
                        <img width="32" src="~/images/icons/logout.png" alt="logout" />
                        <span>Đăng xuất</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 vh-100 overflow-auto">
            @RenderBody()
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_Loading.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
