﻿@{
    ViewData["Title"] = "Bạn không có quyền";
}

<div class="text-center mt-4">
    @if (String.IsNullOrEmpty(ViewBag.Message))
    {
        <h5 class="text-danger">Bạn không có quyền sử dụng chức năng này liên hệ admin để cấp quyền</h5>
    }
    else
    {
        <h5 class="text-danger">@ViewBag.Message</h5>
    }
</div>
