﻿@model Taipei101EvaluationSystemModels.PagedViewModel
@{
    ViewData["Title"] = "Lịch sử thi";
    var users = ViewBag.Users as List<Taipei101EvaluationSystemDAL.Entities.User>;
    var contests = ViewBag.Contests as List<Taipei101EvaluationSystemDAL.Entities.Contest>;
}
@section Scripts{
    <script src="~/js/user-contest.js"></script>
}

<div class="mt-3 clearfix">
    <div class="fw-bold">Tìm kiếm bài thi</div>
    <form class="float-start d-flex" action="/UserContest/Index" method="GET">
        <div>
            <input type="search" class="form-control" name="contestName" value="@ViewBag.ContestName" placeholder="Nhập tên bài thi" />
        </div>
        <div class="ms-2">
            <select class="form-select" name="userId">
                <option value="">Chọn thành viên</option>
                @{
                    if (users?.Count > 0)
                    {
                        foreach (var user in users)
                        {
                            if (ViewBag.UserId == user.Id)
                            {
                                <option value="@user.Id" selected>@user.Name</option>
                            }
                            else
                            {
                                <option value="@user.Id">@user.Name</option>
                            }
                        }
                    }
                }
            </select>
        </div>
        <div class="ms-2">
            <select name="type" class="form-select">
                <option value="0" class="text-secondary">Chưa thi</option>
                <option value="1" class="text-warning">Đang thi</option>
                <option value="2" class="text-success">Đã thi</option>
            </select>
        </div>
        <div class="ms-2">
            <button class="btn btn-warning fw-bold">Tìm kiếm</button>
        </div>
    </form>
    <div class="float-end">
        <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-user-contest-modal">Tạo lịch thi mới</button>
    </div>
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var userContests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>;
            var noneUserContests = userContests?.Where(x => x.StartedTime == null).ToList();
            if (noneUserContests?.Count > 0)
            {
                <h4 class="p-2 text-secondary bg-light">Các bài chưa thi</h4>
                foreach (var noneUserContest in noneUserContests)
                {
                    <div id="@noneUserContest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3 text-center">
                                    <a href="/UserContestQuestion?userContestId=@noneUserContest.Id">
                                        <img class="w-100" src="~/images/icons/contest-item-none.png" alt="Alternate Text" />
                                    </a>
                                    <div class="text-secondary">(Chưa thi)</div>
                                </div>
                                <div class="p-2">
                                    <div>
                                        <span>Tên bài thi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian thi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestTime (phút)</span>
                                    </div>
                                    <div>
                                        <span>Cấp độ bài thi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestLevel</span>
                                    </div>
                                    <div>
                                        <span>Số lượng câu hỏi: </span>
                                        <span class="fw-bold">@noneUserContest.ContestQuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Thành viên thi: </span>
                                        <span class="fw-bold">@noneUserContest.UserContestName</span>
                                    </div>
                                    <div>
                                        <span>Người tạo: </span>
                                        <span>@noneUserContest.CreatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian tạo: </span>
                                        <span>@noneUserContest.CreatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group-sm text-center bg-light pt-2 pb-3">
                                <a class="btn btn-primary" href="/UserContestQuestion?userContestId=@noneUserContest.Id">Chi tiết</a>
                                <button class="btn btn-danger" onclick="deleteUserContest('@noneUserContest.Id')">Xóa bài thi</button>
                            </div>
                        </div>
                    </div>
                }
            }
        }


    }
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var userContests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>;
            var waitingUserContests = userContests?.Where(x => x.StartedTime != null && x.EndedTime == null).ToList();
            if (waitingUserContests?.Count > 0)
            {
                <h4 class="p-2 text-warning bg-light">Các bài đang thi</h4>
                foreach (var waitingUserContest in waitingUserContests)
                {
                    <div id="@waitingUserContest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3 text-center">
                                    <a href="/UserContestQuestion?userContestId=@waitingUserContest.Id">
                                        <img class="w-100" src="~/images/icons/contest-item-waiting.png" alt="Alternate Text" />
                                    </a>
                                    <div class="text-warning">(Đang thi)</div>
                                </div>
                                <div class="p-2">
                                    <div>
                                        <span>Tên bài thi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian thi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestTime (phút)</span>
                                    </div>
                                    <div>
                                        <span>Cấp độ bài thi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestLevel</span>
                                    </div>
                                    <div>
                                        <span>Số lượng câu hỏi: </span>
                                        <span class="fw-bold">@waitingUserContest.ContestQuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Thành viên thi: </span>
                                        <span class="fw-bold">@waitingUserContest.UserContestName</span>
                                    </div>
                                    <div>
                                        <span>Người tạo: </span>
                                        <span>@waitingUserContest.CreatedByName</span>
                                    </div>
                                    <div>
                                        <span>Thời gian tạo: </span>
                                        <span>@waitingUserContest.CreatedTime?.ToString("dd-MM-yyy HH:mm")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group-sm text-center bg-light pt-2 pb-3">
                                <a class="btn btn-warning" href="/UserContestQuestion?userContestId=@waitingUserContest.Id">Nội dung bài thi</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div class="mt-4 clearfix">
    @{
        if (Model.Data != null)
        {
            var userContests = Model.Data as List<Taipei101EvaluationSystemDAL.ViewModels.UserContestViewModel>;
            var doneUserContests = userContests?.Where(x => x.StartedTime != null && x.EndedTime != null).ToList();
            if (doneUserContests?.Count > 0)
            {
                <h4 class="p-2 text-success bg-light">Các bài đã thi</h4>
                foreach (var doneUserContest in doneUserContests)
                {
                    <div id="@doneUserContest.Id" class="w-25 p-2 float-start">
                        <div class="shadow-sm">
                            <div class="d-flex justify-content-center align-items-center bg-light">
                                <div class="col-3 text-center">
                                    <a href="/UserContestQuestion?userContestId=@doneUserContest.Id">
                                        <img class="w-100" src="~/images/icons/contest-item-done.png" alt="Alternate Text" />
                                    </a>
                                    <div class="text-success">(Đã thi)</div>
                                </div>
                                <div class="p-2">
                                    <h5>Kết quả bài thi</h5>
                                    <div>
                                        <span>Bài thi: </span><span class="fw-bold">@doneUserContest.ContestName</span>
                                    </div>
                                    <div>
                                        <span>Số câu hỏi: </span><span class="fw-bold">@doneUserContest.ContestQuestionNumber</span>
                                    </div>
                                    <div>
                                        <span>Level: </span><span class="fw-bold">@doneUserContest.ContestLevel</span>
                                    </div>
                                    <div>
                                        <span>Người thi: </span><span class="fw-bold">@doneUserContest.UserContestName</span>
                                    </div>
                                    @{
                                        var diff = doneUserContest.EndedTime?.Subtract((DateTime)doneUserContest.StartedTime);
                                        var passedMinutes = diff?.Minutes;
                                        if (diff?.Hours > 0)
                                        {
                                            passedMinutes = passedMinutes + diff?.Hours * 60;
                                        }
                                    }
                                    <div>
                                        <span>Thời gian làm bài: </span><span class="fw-bold">@passedMinutes phút</span>
                                    </div>
                                    <div>
                                        <span>Số câu chính xác: </span><span class="fw-bold">@doneUserContest.CorrectAnswer câu</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group-sm text-center bg-light pt-2 pb-3">
                                <a class="btn btn-primary" href="/UserContestQuestion?userContestId=@doneUserContest.Id">Nội dung bài thi</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div aria-label="navigation">
    <ul class="pagination justify-content-center">
        @{
            if (Model.TotalPage > 1)
            {
                var previous = ViewBag.PageIndex - 1 > 0 ? ViewBag.PageIndex - 1 : 1;
                <li class="page-item"><a class="page-link" href="/UserContest/Index?pageIndex=@previous&name=@ViewBag.Name">Trước</a></li>
                for (int i = 1; i <= Model.TotalPage; i++)
                {
                    if (ViewBag.PageIndex == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/UserContest/Index?pageIndex=@i&name=@ViewBag.Name">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/UserContest/Index?pageIndex=@i&name=@ViewBag.Name">@i</a>
                        </li>
                    }
                }

                var next = ViewBag.PageIndex + 1 <= Model.TotalPage ? ViewBag.PageIndex + 1 : Model.TotalPage;
                <li class="page-item"><a class="page-link" href="/UserContest/Index?pageIndex=@next&name=@ViewBag.Name">Sau</a></li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="update-contest-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateContestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateContestLabel">Cập nhật bài thi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-contest-modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="insert-user-contest-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertUserContestLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertUserContestLabel">Tạo lịch thi mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label><span class="text-danger">(*)</span>Thành viên thi:</label>
                    <select id="insert-user-id" class="form-select">
                        <option value="">Chọn thành viên thi</option>
                        @{
                            if (users?.Count > 0)
                            {
                                foreach (var user in users)
                                {
                                    <option value="@user.Id">@user.Name</option>

                                }
                            }
                        }
                    </select>
                </div>
                <div class="mt-3">
                    <label><span class="text-danger">(*)</span>Bài thi:</label>
                    <select id="insert-contest-id" class="form-select">
                        <option value="">Chọn bài thi</option>
                        @{
                            if (contests?.Count > 0)
                            {
                                foreach (var contest in contests)
                                {
                                    <option value="@contest.Id">@contest.Name</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="mt-4 text-center">
                    <button id="insert-user-contest-btn" class="btn btn-warning fw-bold">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>