﻿@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="text-center mt-4">
    <h1 class="">Đăng nhập</h1>
    <div class="text-danger">@ViewBag.Notification</div>
</div>
<form class="col-4 m-auto" asp-controller="Login" asp-action="Login" method="post">
    <div>
        <label for="username">Tên tài khoản:</label>
        <input id="username" class="form-control" type="text" name="Username" placeholder="Nhập tên tài khoản" required autofocus />
    </div>
    <div class="mt-3">
        <label for="password">Mật khẩu:</label>
        <input id="password" class="form-control" type="password" name="Password" required placeholder="Nhập mật khẩu" />
    </div>
    <div class="mt-3">
        <input type="submit" class="w-100 btn btn-primary" value="Đăng nhập" />
    </div>
</form>