﻿@model Taipei101EvaluationSystemDAL.ViewModels.UserContestHasNoIsCorrect
@{
    ViewData["Title"] = Model.UserContest?.ContestName;
    var answers = ViewBag.Answers as List<Taipei101EvaluationSystemDAL.Entities.UserContestAnswer>;
}

@section Css{ 
    <link href="/css/question.css" rel="stylesheet" />
}

<div id="questions-container" class="ps-4 pb-4 pe-4">
    @{
        if (Model.UserContest != null)
        {
            <div class="pt-4 pb-4 sticky-top border-bottom bg-white d-flex justify-content-around align-items-center">
                <div class="col-6 text-center">
                    <h1>@Model.UserContest.ContestName</h1>
                    <div>
                        (<span class="fw-bold">Thời gian thi: </span><span>@Model.UserContest.ContestTime phút</span>,
                        <span class="fw-bold">Cấp độ: </span><span>@Model.UserContest.ContestLevel</span>,
                        <span class="fw-bold">Số câu hỏi: </span><span>@Model.UserContest.ContestQuestionNumber</span>,
                        <span class="fw-bold">Người tạo: </span><span>@Model.UserContest.CreatedByName</span>)
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <h4 class="col-6 text-end">
                        @{
                            var diff = DateTime.Now.Subtract((DateTime)Model.UserContest.StartedTime);
                            var passedMinutes = diff.Minutes;
                            if (diff.Hours > 0)
                            {
                                passedMinutes = passedMinutes + diff.Hours * 60;
                            }

                            var hasMinutes = (Model.UserContest.ContestTime - passedMinutes) > 0 ? Model.UserContest.ContestTime - passedMinutes : 0;
                        }
                        <span id="contest-minutes">@hasMinutes</span> phút <span id="contest-seconds"></span>
                    </h4>
                    <div class="ms-2">
                        <img src="~/images/icons/clock.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col-2 text-center">
                    <button class="btn btn-warning btn-lg fw-bold" onclick="submitContest('@Model.UserContest.Id', true)">Nộp bài</button>
                </div>
            </div>

            if (Model.Questions?.Count > 0)
            {
                var questions = Model.Questions;
                for (int i = 0; i < questions.Count; i++)
                {
                    <div class="mt-4">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <div class="d-flex w-100">
                                @{
                                    var questionOrder = i + 1;
                                }
                                <h5 class="col-1 mb-0 p-0 fw-bold fw-bold">Câu hỏi @questionOrder:</h5>
                                <h5 class="fw-normal">
                                    @Html.Raw(questions[i].Content)
                                </h5>
                            </div>
                        </div>
                        @{
                            if (questions[i].Answers?.Count > 0)
                            {
                                <div class="text-center">
                                    @{
                                        foreach (var answer in questions[i].Answers)
                                        {
                                            <div class="d-inline-block ms-5">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        @{
                                                            if (answers.Find(x => x.AnswerId == answer.Id) != null)
                                                            {
                                                                <input type="checkbox" class="form-check-input" onclick="triggerAnswer('@Model.UserContest.Id','@questions[i].Id','@answer.Id', this)" checked />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="form-check-input" onclick="triggerAnswer('@Model.UserContest.Id','@questions[i].Id','@answer.Id', this)" />
                                                            }
                                                        }
                                                    </div>
                                                    <div class="ms-1">
                                                        @answer.Content
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                }
            }
        }
    }
</div>

<div class="modal fade" id="end-contest-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="end-contest-modal-body">
                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        toastr.options = {
            "positionClass": "toast-top-center",
        };

        function getDiffSeconds(timestamp) {
            var diff = (new Date().getTime() / 1000) - timestamp;
            return diff;
        };

        var startedDate = new Date(Date.parse('@Model.UserContest.StartedTime'));
        var startTimeSecond = startedDate.getTime() / 1000; // ms => s
        var contestTimeSecond = parseInt('@Model.UserContest.ContestTime') * 60; // m => s
        var totalTimeSecond = startTimeSecond + contestTimeSecond;
        var currentTimeSecond = (new Date().getTime() / 1000);

        if (currentTimeSecond < totalTimeSecond){
            var counter = setInterval(() => {
                var hasMinutes = parseInt('@Model.UserContest.ContestTime') - getDiffSeconds(startTimeSecond) / 60;
                $('#contest-seconds').text(Math.floor((hasMinutes - Math.floor(hasMinutes)) * 60) + ' giây');
                $('#contest-minutes').text(Math.floor(hasMinutes));
                if ((new Date().getTime() / 1000) >= totalTimeSecond){
                    clearInterval(counter);
                    toastr.warning('Hết thời gian làm bài');
                    setTimeout(function () {
                        submitContest('@Model.UserContest.Id', false);
                    }, 1000);
                }
            }, 1000);   
        }else{
            toastr.warning('Hết thời gian làm bài');
            var endTime = '@Model.UserContest.EndedTime';
            if (endTime == '') {
                submitContest('@Model.UserContest.Id', false);
            }else{
                setTimeout(function(){
                    location.href = "/Contest";
                }, 2000);
            }
        }

        function triggerAnswer(userContestId, questionId, answerId, element) {
            if (userContestId && questionId && answerId) {
                const checked = $(element).is(':checked');
                const userContestAnswer = {
                    UserContestId: userContestId,
                    QuestionId: questionId,
                    AnswerId: answerId
                };
                var url = '';
                if (checked) {
                    url = '/Answer/Insert'
                }
                else {
                    url = '/Answer/Delete'
                }
                $.ajax({
                    method: 'POST',
                    url: url,
                    data: userContestAnswer,
                    success: function (response) {
                        if (response.status == 1) {
                            //toastr.success('Đã lưu câu trả lời').css({width: '177px'});
                        }
                    }
                });
            }
        };

        function submitContest(userContestId, isConfirm) {
            if (isConfirm){
                const oke = confirm('Bạn có chắc chắn muốn kết thúc bài thi?');
                if(oke){
                    if (userContestId) {
                        $.ajax({
                            method: 'GET',
                            url: '/Contest/End?id=' + userContestId,
                            success: function (response) {
                                $('#end-contest-modal-body').html(response);
                                $('#end-contest-modal').modal('show');
                            }
                        });
                    }
                }  
            }else{
                if (userContestId) {
                    $.ajax({
                        method: 'GET',
                        url: '/Contest/End?id=' + userContestId,
                        success: function (response) {
                            $('#end-contest-modal-body').html(response);
                            $('#end-contest-modal').modal('show');
                        }
                    });
                }
            }
        };
    </script>
}