﻿@using Taipei101EvaluationSystemDAL.ViewModels;
@model List<RoleViewModel>;

@{
    ViewData["Title"] = "Quản lí vai trò";
}

@section Css{
    <link rel="stylesheet" href="~/css/role.css" />
}

<div class="row mt-4">
    <div class="row">
        <div class="col-md-6">
            <b class="mb-4">Quản lí vai trò</b>
        </div>
        <div class="col-md-6">
            <div class="float-end">
                <button class="btn btn-warning fw-bold" data-bs-toggle="modal" data-bs-target="#insert-role-modal">Thêm vai trò mới</button>
            </div>
        </div>
    </div>
    @{
        if (Model is not null && Model.Count > 0)
        {
            foreach (var role in Model)
            {
                <div id="@role.Id" class="col-2 p-2 d-inline-block">
                    <div class="shadow">
                        <div class="bg-light p-2">
                            <div>
                                <span class="fw-bold">Tên vai trò: </span>
                                <span>@role.RoleName</span>
                            </div>
                            <div>
                                <span class="fw-bold">Tạo bởi:</span>
                                <span>@role.NameOfCreatedByUser</span>
                            </div>
                            <div>
                                <span class="fw-bold">Sửa bởi:</span>
                                <span>@role.NameOfUpdatedByUser</span>
                            </div>
                            <div>
                                <span class="fw-bold">Thời gian tạo:</span>
                                <span>@role.CreatedTime?.ToString("dd-MM-yyyy H:mm")</span>
                            </div>
                            <div>
                                <span class="fw-bold">Thời gian sửa:</span>
                                <span>@role.UpdatedTime?.ToString("dd-MM-yyyy H:mm")</span>
                            </div>
                            <div class="mt-3 text-center btn-group-sm">
                                <button class="btn btn-info" onclick="openUpdateRoleModal('@role.Id')">Sửa</button>
                                <button class="btn btn-danger" onclick="deleteRole('@role.Id')">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <b>Hiện chưa có vai trò nào</b>
        }
    }
</div>

<div class="modal fade" id="insert-role-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="insertRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertRoleLabel">Thêm vai trò mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label><span class="text-danger">(*)</span>Tên vai trò:</label>
                    <input id="insert-rolename" type="text" placeholder="Nhập tên vai trò" class="form-control" />
                </div>
                <div class="mt-4 text-center">
                    <button id="insert-role-btn" class="btn btn-warning fw-bold">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-role-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateRoleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateRoleLabel">Cập nhật vai trò</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="update-role-modal-body">
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/role.js"></script>
}