﻿@using Taipei101EvaluationSystemDAL.Entities;
@model Role;
<div class="mt-3">
    <label><span class="text-danger">(*)</span>Tên vai trò:</label>
    <input id="update-rolename" type="text" placeholder="Nhập tên vai trò" class="form-control" value="@Model.RoleName" />
</div>
<div class="mt-4 text-center">
    <button id="update-role-btn" class="btn btn-warning fw-bold" onclick="updateRole('@Model.Id')">Cập nhật</button>
</div>