﻿@using Taipei101EvaluationSystemDAL.ViewModels;
@model UserViewModel;

@section Css{
    <link href="~/css/user.css" rel="stylesheet" />
}

<div class="container rounded bg-white mt-5 mb-5">
    <form>
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                  @*<span class="font-weight-bold">Edogaru</span>*@
                    @if (!String.IsNullOrEmpty(Model.Avatar))
                    {
                        string fullPathAvatar = ViewBag.UploadsFolder + "/" + Model.Avatar;
                        <img id="avatar-image" class="rounded-circle mt-5" width="150px" src="@fullPathAvatar">
                        @*<span class="text-black-50">@Model.Avatar</span>*@
                    }
                    else{
                        <img id="avatar-image" class="rounded-circle mt-5" width="150px" src="~/images/icons/user.png">
                    }
                    <div class="col-md-7" id="upload-avatar-container">
                        <label class="labels">Tải ảnh lên</label>
                        <input type="file" class="form-control form-control-sm" accept="image/*" onchange="uploadAvatar(this, '@ViewBag.UploadsFolder')" id="upload-avatar">
                        <input type="text" id="avatar-url" value="@(Model.Avatar is not null ? Model.Avatar : String.Empty)" hidden />
                    </div>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-7 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Thông tin cá nhân</h4>
                        <button class="btn btn-warning fw-bold" type="button" data-bs-toggle="modal" data-bs-target="#change-password">Đổi mật khẩu</button>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Họ và tên</label><input type="text" id="name" class="form-control" placeholder="Họ và tên" value="@Model.Name"></div>
                        <div class="col-md-6"><label class="labels">Tên đăng nhập</label><input type="text" disabled class="form-control" placeholder="Tên đăng nhập" value="@Model.Username"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Phòng ban</label><input type="text" disabled class="form-control" value="@Model.DepartmentName"></div>
                        <div class="col-md-6"><label class="labels">Vai trò</label><input type="text" disabled class="form-control" value="@Model.RoleName"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Ngày tạo</label><input type="text" disabled class="form-control" value="@Model.CreatedTime?.ToString("dd/MM/yyyy")"></div>
                        <div class="col-md-6"><label class="labels">Cấp độ</label><input type="text" disabled class="form-control" value="@Model.Level"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-warning fw-bold" onclick="updateProfile('@Model.Id')" type="button">Lưu thông tin</button></div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="change-password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rateUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="change-password-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container ">
                    <div class="">
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels"><span class="text-danger">(*)</span> Mật khẩu cũ</label><input type="password" id="old-password" class="form-control" placeholder="Mật khẩu cũ"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels"><span class="text-danger">(*)</span> Mật khẩu mới</label><input type="password" id="new-password" class="form-control" placeholder="Mật khẩu mới"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels"><span class="text-danger">(*)</span> Xác nhận mật khẩu mới</label><input type="password" id="confirm-new-password" class="form-control" placeholder="Xác nhận mật khẩu mới"></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-warning fw-bold" onclick="changePassword('@Model.Id')" type="button">Cập nhật</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}
