﻿@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_EmptyLayout";
}

<div class="text-center mt-4">
    <div class="col-2 d-inline-block">
        <img class="w-100" src="~/images/logo.webp" alt="Alternate Text" />

    </div>
</div>
<div class="text-center mt-4">
    <div class="text-danger">@ViewBag.Notification</div>
</div>
<form class="col-3 m-auto" asp-controller="Login" asp-action="Login" method="post">
    <div>
        <label for="username" class="fw-bold">Tên tài khoản:</label>
        <input id="username" class="form-control" type="text" name="Username" placeholder="Nhập tên tài khoản" required autofocus />
    </div>
    <div class="mt-3">
        <label for="password" class="fw-bold">Mật khẩu:</label>
        <input id="password" class="form-control" type="password" name="Password" required placeholder="Nhập mật khẩu" />
    </div>
    <div class="mt-3">
        <input type="submit" class="w-100 btn btn-primary" value="Đăng nhập" />
    </div>
</form>