﻿@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center mt-3">
    <h1 class="display-6">Chào mừng bạn đến với hệ thống</h1>
    <div class="text-danger">Trang này dành cho quản trị viên, nhân viên không được phép truy cập, trừ khi có sự cho phép của bộ phận quản lý.</div>
</div>
